# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# SSH keys
*.pem
~/.ssh/minecraft

# Ansible
ansible/inventory.ini
ansible/*.retry

# OS
.DS_Store
Thumbs.db